
#myWindow {
    background-color: rgb(9, 7, 7);
}

#Play-Pause{
    background-color: rgb(207, 202, 202);
}

#Play-Pause:hover{
    background-color: rgb(255, 255, 255);
 }

#main_grid{
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
}

#top_left_box{
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
}

#left_box{
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
}

#progress_bar progress{
    background-color: rgb(255, 255, 255);
}

#progress_bar {
    background-color: rgb(94, 91, 91);
    border-radius: 2px;
}

